<footer>
	<nav class="round">
		<ul>
<<<<<<< HEAD
			<li><%= link_to "About", about_path %> </li>
			<li><%= link_to "Contact", contact_path %> </li>
			<li><%= link_to "News",'http://news.railstutorial.org/'%> </li>
			<li><%= link_to "Rails Tutorial",'http://railstutorial.org/'%> </li>
		</ul>
		</nav>
</footer>
=======
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", 'http://news.railstutorial.org/' %></li>
			<li><%= link_to "Rails Tutorial", 'http://railstutorial.org/' %></li>
		</ul>
	</nav>
</footer>
>>>>>>> 2678008f7becf805d70aa567e6dca867c05a5feb
