<header>
<<<<<<< HEAD
    	<%= link_to logo, root_path %>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </header>
=======
		<%= link_to logo, root_path %>
			<nav class="round">
			<ul>
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Help", help_path %></li>
			  <li><%= link_to "Sign in", '#' %></li>
			</ul>
			</nav>
		</header>

>>>>>>> 2678008f7becf805d70aa567e6dca867c05a5feb
